/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #f6f1e9;
}

h1,
h2,
h3,
h4,
ul,
blockquote,
p,
dd {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* global */
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #ebe8e3;
}

header h1 {
  font: 700 1.2rem 'IBM Plex Sans';
  letter-spacing: 0.1rem;
  color: #4a4540;
}

/* my-books */
.my-books {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.my-books h1 {
  font: 700 1.5rem 'IBM Plex Sans';
  color: #4a4540;
}

.my-books button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 42px;
  width: 145px;
  background: #ccad7a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-books button:hover {
  transform: translateY(-1.5px);
  box-shadow: 2px 4px 10px rgba(74, 69, 64, 0.1);
}

.my-books button p {
 font: 700 1rem 'IBM Plex Sans';
 color: #f6f1e9;
}


/* list-books */
.list-books {
  padding-top: 30px;
}

.cabecalho {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  gap: 15px;
}

.cabecalho h1 {
  font: 700 0.9rem 'IBM Plex Sans';
  color: #7c756c;
}

.cabecalho-cover {
  flex-shrink: 0;
  width: 50px;
}

.cabecalho-title {
  flex: 1;
  min-width: 200px;
}

.cabecalho-author {
  flex: 1;
  min-width: 200px;
}

.cabecalho-info {
  padding-right: 46px;
}

.books {
  padding-top: 20px;
  border-top: 1px solid #7c756c50;
}

.books ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  background: #f6f1e9;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.book-item:hover {
  background: #ebe8e3;
}

.book-cover {
  flex-shrink: 0;
}

.book-cover img {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.book-title {
  flex: 1;
  min-width: 200px;
}

.book-title h2 {
  font: 500 0.95rem 'IBM Plex Sans';
  letter-spacing: 0.05rem;
  color: #4a4540;
}

.book-author {
  flex: 1;
  min-width: 200px;
}

.book-author h2 {
  font: 400 0.85rem 'IBM Plex Sans';
  color: #8b7d6b;
}

.book-info {
  margin-left: auto;
  padding-right: 10px;
}

.book-info {
  cursor: pointer;
}

.book-info img {
  padding: 8px;
}

.book-info img:hover {
  background: #4a454010;
  border-radius: 50%;
}